.footer {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        a {
            font-size: calc($aLinkL - 20%);
            color: $aFontColor;
            &:hover, &:active {
              padding: 5px 5px;
              font-size: $aLinkL;
              color: $aFontColor;
              background-color: $aFontColorHover;
            }
        }
    }
    &__copyright {
        text-align: center;
    }
}
