header {
    min-height: 100vh;
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-nav, .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
        font-size: 36px;
        padding: 0px 5px;
        background-color: white;
        color: black;
    }
    &__list {
        padding: 50px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 50px;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    &__name {
        display: inline-block;
        font-size: $textLogoH;
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid white;
        animation: flashing 0.75s step-end infinite;
    }       

    &__bio {
        display: inline-grid;
        gap: 20px;

        .bio-dev {
            &__icon {
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        
        .bio-dev, .bio-country {
            display: inline-flex;
            gap: 20px;
            &__text {
                padding: 0px 5px;
                background-color: white;
                color: black;
            }
        }
        
    }
}

.header-myskill {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}