@media (max-width: $breakPointsXXXL) {
    header {
        padding: 0px 100px;
    }
}

@media (max-width: $breakPointsXL) {
    header {
        padding: 0px 50px;
    }

    .header-nav, .nav {
        justify-content: flex-end;
        &__logo {
            display: none;
        }
        &__list {
            gap: 30px;
        }
    }

    .header-myskill {
        gap: 30px;
        span {
            display: none;
        }
    }
}

@media (max-width: $breakPointsMD) {
    .header-nav, .nav {
        justify-content: center;
        &__list {

        }
    }

    .header-info {
        padding: 25vh auto;
        &__text {
            font-size: $textLogoL;
        }
    }
}