//--------------------------------------------------------------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-family: $defaultFont;
  font-size: $fontSizeH;
  color: $fontColor;
}

body._lock {
  overflow: hidden;
}

body._pc, body._touch {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition: 0.15s linear;
}

a {
  font-size: $aLinkH;
  color: $aFontColor;
  text-decoration: none;
  &:hover, &:active {
    padding: 5px 5px;
    font-size: calc($aLinkH + 20%);
    color: $aFontColorHover;
    background-color: $aFontColor;
  }
}

h1 { font-size: $h1SizeH; }; 
h2 { font-size: $h2SizeH; }; 

button {
  font-size: $fontSizeH;
  font-family: $defaultFont;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

//--------------------------------------------------------------------------------------------------------------------------------------
body {
  background-color: $backgroundColor;
}

main {
  background: $mainColor;
}

//-Scrollbar----------------------------------------------------------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background: black;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-track:hover {
  background: black;
}

::-webkit-scrollbar-track:active {
  background: white;
}

.locked {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}