@media (max-width: $breakPointsMD) {
    html {
        font-size: $fontSizeL;
    }

    a {
        font-size: $aLinkL;
        &:hover, &:active {
            font-size: calc($aLinkL + 30%);
          }
    }

    button {
        font-size: $fontSizeL;
    }
}