// breakPoints
$breakPointsXXXL: 1568px;
$breakPointsXXL: 1280px;
$breakPointsXL: 1024px;
$breakPointsMD: 767px;
$breakPointsSM: 576px;

// Colors
$fontColor: #fff;
$fontColorHover: #000;

$aFontColor: #fff;
$aFontColorHover: #000;

$backgroundColor: #000;

$mainColor: #020202;

// Default Fonts
$defaultFont: "Poiret One";

// fontSize
$fontSizeH: 28px;
$fontSizeL: 24px;

$h1SizeH: 36px;
$h1SizeL: 32px;
$h2SizeH: 32px;
$h2SizeL: 28px;

$aLinkH: 36px;
$aLinkL: 32px;

$textLogoH: 60px;
$textLogoL: 56px;
