// breakPoints
$breakPointsXXXL: 1769px;
$breakPointsXXL: 1200px;
$breakPointsXL: 1024px;
$breakPointsMD: 767px;
$breakPointsSM: 576px;

// Colors
$fontColor: #fff;
$fontColorHover: #000;

$aFontColor: #fff;
$aFontColorHover: #000;

$backgroundColor: #000;

$bodyColor: #020202;

// Default Fonts
$defaultFont: "Poiret One";

// fontSize
$fontSizeH: 28px;
$fontSizeL: 0.7857rem;

$h1SizeH: 36px;
$h1SizeL: 0.7778rem;
$h2SizeH: 32px;
$h2SizeL: 0.75rem;

$aLinkH: 36px;
$aLinkL: 0.7778rem;

$textLogoH: 60px;
$textLogoL: 0.9rem;
